section {
  padding: 32px;
  max-width: 960px;
  margin: auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 32px auto;
}

.color-title,
.greyed {
  width: 100%;
  max-width: 100%;
  padding: 88px 0 94px;
  display: flex;
  margin-bottom: 32px;
}

.color-title {
  background: palevioletred;
  color: white;
}

.color-title h2,
.greyed p {
  padding: 0 32px;
  max-width: 960px;
  margin: 0 auto;
}

.color-title h2 {
  font-weight: normal;
  font-size: 38px;
  font-family: 'Crete Round', serif;
}

.greyed {
  background: #EEEEEE;
  font-size: 1.2em;
  flex-direction: column;
}

.greyed .CallToAction {
  margin: 32px;
  align-self: center;
}

img.demo {
  max-width: 80%;
  margin: 72px auto;
  display: block;
}
