.LayersVisualization {
  position: relative;
  perspective: 1000px;
  margin: 100px auto 50px;
}

.LayersVisualization figure {
  margin: 0;
}

@keyframes layer-in {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(30deg);
  }
}

.LayersVisualization h1 {
  width: 200px;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 25px;
}

.LayersVisualization h2 {
  width: 200px;
  font-size: .75rem;
  text-align: left;
  margin-left: 25px;
}

.LayersVisualization p {
  width: 200px;
  font-size: .5rem;
  text-align: left;
  margin-left: 25px;
}

.LayersVisualization .layers {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: layer-in .7s forwards;
  animation-delay: .2s;
}

.LayersVisualization .layer {
  position: absolute;
  transform-style: preserve-3d;
  transition-property: transform;
  transition-delay: .5s;
  transition-duration: .5s;
}

.LayersVisualization .layer__side {
  margin: 0;
  display: block;
  position: absolute;
  background: rgb(168, 168, 168);
  overflow: hidden;
}

.LayersVisualization .layer__side:nth-child(1) {
  background: rgb(250, 250, 250);
}

